<footer>
    <div class="emailsent">
        <h1>Email</h1>
        <div class="input-wrapper">
            <input type="text" placeholder="Masukkan email..." required>
            <div class="send-icon-circle">
                <i class="bi bi-send-fill send-icon"></i>
            </div>
        </div>
    </div>

    <div class="link-navbar">
        <a href="#">Home</a>
        <a href="#">Tentang Kami</a>
        <a href="#">Cara Melapor</a>
        <a href="#">Edukasi</a>
    </div>

    <div class="sosmed-footer">
        <i class="bi bi-facebook"></i>
        <i class="bi bi-instagram"></i>
        <i class="bi bi-twitter"></i>
        <i class="bi bi-envelope"></i>
        <i class="bi bi-whatsapp"></i>
    </div>

    <!-- Call Center & Informasi Hukum -->
    <div class="callcenter-footer">
        <h4>Bantuan & Call Center</h4>
        <ul>
            <li><strong>Komnas Perempuan</strong>: 021-3903963 | 📧 pengaduan@komnasperempuan.go.id</li>
            <li><strong>P2TP2A Nasional</strong>: SAPA 129 | WhatsApp: 08111-129-129</li>
            <li><strong>LPSK</strong>: 148 | 📧 aduan@lpsk.go.id</li>
            <li><strong>Komnas HAM</strong>: 021-3925230 | 📧 pengaduan@komnasham.go.id</li>
        </ul>
    </div>

    <p style="font-size: 0.6rem; color: #fff; text-align: center; margin-top: 60px;">
        &copy; 2025 HADAPi. Seluruh hak cipta dilindungi undang-undang.
    </p>
</footer>
