<header>
    <nav id="hamburger" class="nav"><span></span>
  <span></span>
  <span></span>
        <ul>
            <li><a href="/">Beranda</a></li>
            <li><a href="/jejakku">Jejakku</a></li>
            <li><a href="/laporin">Laporin</a></li>
            <li><a href="/konsultasi">Konsultasi</a></li>
            <li><a href="/#tentangkami">Tentang Kami</a></li>
        </ul>
    </nav>
</header>
