<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <title>Masukkan ID Jejakku</title>
    <link rel="stylesheet" href="/css/input_id.css">
</head>
<body>
    <div class="main-content">
        <h1>Masukkan ID Jejakku</h1>

        <form action="/jejakku" method="get">
            <input type="text" name="id_jejakku" required>
            <button type="submit">Lihat Laporan</button>
        </form>
    </div>
    
</body>
</html>
