<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HADAPI</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/laporin.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">

</head>
<body>
        
    <%- include('partials/header') %>

    <div class="banner">

    </div>
    
    <div class="main-laporan">
        <h1>Buat Laporan Baru</h1>
        <form action="/laporin" method="POST" enctype="multipart/form-data">
            <input type="text" name="nik" placeholder="NIK" required><br>
            <input type="text" name="nama" placeholder="Nama" required><br>
            <textarea name="alamat" placeholder="Alamat" required></textarea><br>
            <input type="number" name="umur" placeholder="Umur" required><br>
            <textarea name="deskripsi" placeholder="Deskripsi Laporan" required></textarea><br>
            <input type="file" name="bukti" multiple><br>

            <button type="submit" name="tindakan" value="kirim">Kirim</button>
            <button type="submit" name="tindakan" value="draft">Simpan Draft</button>
        </form>
    </div>

    <button id="panicButton">
        <i class="bi bi-exclamation-triangle-fill"></i>
    </button>

    <% if (laporanBerhasil) { %>
        <div id="modalSukses" class="modal">
          <div class="modal-content">
            <span class="close-button" onclick="closeModal()">&times;</span>
            <h1>Laporan berhasil disimpan!</h1>
            <p><strong>ID Jejakku:</strong> <%= idJejakku %></p>
            <p>Untuk melihat dan memantau laporan, anda harus mengingat ID anda</p>
            <a href="/jejakku">Lihat Jejak Laporan</a>
          </div>
        </div>
        <% } %>

    <%- include('partials/footer') %>

    <script>
        const panicButton = document.getElementById('panicButton');
    
        // Toggle visibility dengan Alt + P
        document.addEventListener('keydown', function(event) {
            if (event.altKey && event.key.toLowerCase() === 'p') {
                panicButton.classList.toggle('hidden');
            }
        });
    
        // Redirect saat tombol diklik
        panicButton.addEventListener('click', function() {
            window.location.href = 'https://www.google.com'; // ganti ke situs aman
        });
    </script>

<script>
    function closeModal() {
      document.getElementById('modalSukses').style.display = 'none';
    }
    </script>
</body>
</html>
